saved_models/joint_trans_model/joint_bert_model.h5 filter=lfs diff=lfs merge=lfs -text
scripts/transformers_cache_dir/*.h5 filter=lfs diff=lfs merge=lfs -text
venv/Lib/* filter=lfs diff=lfs merge=lfs -text
